body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#check-movies{
  background-color: aquamarine;
  color:blue;
  border-radius: 20px;
  padding:10px;
}