body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#landing-page{
background-image: url("../images/cinema.jpg");
background-repeat: no-repeat;
background-position: center;
background-size: auto;
height: 600px;
display: flex;
flex-direction: column;
justify-content: flex-start;
align-items:center;
}

#check-movies{
  background-color: white;
  color:#3F78BC;
  font-size: 20px;
  font-weight: bold;
  border-radius: 30px;
  padding:15px 30px 15px 30px;
  margin-left:280px;
  box-shadow: 1px 1px 15px 2px black
}

#landing-page h1{
  color:white;
  font-size: 100px;
  margin-top:20px;
  margin-bottom: 10px;
  margin-left:450px;
}

#each-movie{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

#movie-preview{
  margin: 30px 70px 30px 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#movie-preview p {
  font-weight: bold ;
}

#movies-heading{
  margin-left:120px;
}

#information-picture{
  display:flex;
  flex-direction: row;
}

#information{
  margin-left:20px;
}

#showtimes{
  display: flex;
  flex-direction: row;
}

#showtimes p{
  margin:3px;
}

#description{
  width:700px;
}

#stars ul{
  margin:2px;
  padding-left: 15px;
}